name: CICD build and push to ECR

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1 
        with:
          mask-password: 'true'
        
          
      - name: Build, Tag, and Push to ECR 
        run: | 
            IMAGE_URL=654654245415.dkr.ecr.us-east-2.amazonaws.com/goodname-repo:$GITHUB_RUN_NUMBER
            docker build -t $IMAGE_URL .
            docker push $IMAGE_URL


  Deploy-ec2:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to EC2 instance
        uses: appleboy/ssh-action@v0.1.6
        with:
          host:  '3.15.201.197'
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            aws ecr get-login-password --region us-east-2 | docker login --username AWS --password-stdin 654654245415.dkr.ecr.us-east-2.amazonaws.com/goodname-repo:latest
            docker pull 654654245415.dkr.ecr.us-east-2.amazonaws.com/goodname-repo:latest
            docker stop goodname-repo || true
            docker rm goodname-repo || true
            docker run -d --name goodname-repo -p 80:80 654654245415.dkr.ecr.us-east-2.amazonaws.com/goodname-repo:latest/goodname-repo:latest
